.header {
    text-align: center;
  }
  input {
    width: 300px;
    height: 30px;
  }
  .btn {
    background-color: black;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    color: white;
    border-radius: 10px;
  }
  .butt {
    display: block;
    text-align: center;
  }
  
  .centralPoint{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('img/icon2.png');
    width: 200px;
    height: 200px;
}
